@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Общие стили для секций */
.section {
    background-color: #18101e;
    ;
    /* Цвет фона для секции */
    padding: 25px 0;
    /* Отступ сверху и снизу */
    min-height: 50vh;
    /* Высота секции */
}

.section__title {
    font-size: 38px;
    /* Размер шрифта заголовка */
    font-weight: 700;
    /* Толщина шрифта заголовка */
    color: #FDA300;
    /* Цвет заголовка */
    margin-top: 80px;
    /* Отступ сверху */
    margin-bottom: 50px;
    /* Отступ снизу заголовка */
    text-align: center;
    /* Центрирование заголовка */
    opacity: 0;
    /* Заголовок изначально невидим */
    transform: translateY(50px);
    /* Начальное положение */
    transition: all 1s ease-out;
    /* Плавная анимация */
}

/* Добавляем анимацию для заголовка */
.section__title.visible {
    opacity: 1;
    /* Показываем заголовок */
    transform: translateY(0);
    /* Возвращаем в исходное положение */
}

.section--about {
    text-align: center;
}

.section--about {
    position: relative;
    /* padding: 60px 20px; */
    color: #fff;
}

.section__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section p {

    /* Центрирование текста */
    font-size: 17px;
    /* Размер шрифта текста */
    color: #ffffff;
    /* Цвет текста */
    line-height: 1.6;
    /* Интервал между строками */
    max-width: 800px;
    /* Максимальная ширина текста */
    margin: 0 auto;
    /* Центрирование текста */
}

/* -- */
.container {

    width: 100%;
    max-width: 940px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-1 {
    font-size: 38px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #160f1c;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    transition: transform 0.3s ease;
}

.btn:hover,
.btn:focus {
    background-color: #271c31;
    transform: scale(1.1);
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #160f1c;
}

/* Header */
.header {
    padding-top: 0;
    background-color: #160f1c;
    overflow: hidden;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
    position: fixed;
    /* Фиксируем навигацию */
    top: 0px;
    /* Привязываем к верхней части страницы */
    left: 0;
    /* Привязываем к левой части страницы */
    right: 0;
    /* Привязываем к правой части страницы */
    background-color: #160f1c;
    /* Цвет фона для навигации */
    z-index: 1000;
    /* Убедитесь, что он выше других элементов */
    padding: 10px 30px;
    /* Отступы для навигации */
    width: 100%;
    box-shadow: 0 1px 9px rgba(65, 65, 65, 0.1);
    /* Добавляем тень */
}

.body-content {
    padding-top: 80px;
    /* Отступ сверху для основного контента */
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    padding-top: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* Nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 8px;
    background-color: #160f1c;
}

.nav__burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav__burger-line {
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #FDA300;
}

.nav-link.active {
    color: #FDA300;
}

.nav-link.active2 {
    color: #FDA300;
}

.nav-link.active:hover {
    color: #d48700;
}

/* Header content */
.header-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 10%;
}

.header-content {
    margin-bottom: 200px;
    /* Убрал отрицательное значение */
    max-width: 500px;
    text-align: left;
    /* Текст слева */
    opacity: 0;
    /* Начальное состояние: невидимо */
    transform: translateX(-50px);
    /* Сдвинут влево (для текста) */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Плавный переход */
    z-index: 10;
}

.header-content.visible {
    opacity: 1;
    /* Сделать видимым */
    transform: translateX(0);
    /* Вернуть в исходное положение */
}

.header-heading {
    /* margin-bottom: 10px; */
    font-weight: 700;
    font-size: 70px;
}

.header-heading span {
    color: #FDA300;
}

.header-heading p {
    text-align: center;
}

.header-content p {
    line-height: 2;
    font-size: 18px;
    padding-top: 25px;
}

.header-content span {
    display: block;
    font-size: 35px;
}

.header-img {
    width: 450px;
    /* Установи разумную ширину */
    height: auto;
    opacity: 0;
    /* Начальное состояние: невидимо */
    transform: translateX(50px);
    /* Сдвинут вправо (для изображения) */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Плавный переход */
}

.julia-pic {
    position: relative;
    z-index: 100;
    left: 15%;
}

.buiding {
    display: inline-block;
    position: absolute;
    z-index: 2;
    opacity: 7%;
    max-width: 95%;
    height: 108%;
    top: 109px;
    left: -19%;
    border-radius: 52%;
    filter: blur(2px);
}

.header-bg-korea {
    display: none;
    display: inline-block;
    position: absolute;
    z-index: 2;
    opacity: 15%;
    max-width: 146%;
    height: 156%;
    top: -15%;
    left: 7%;
    filter: drop-shadow(0 6px 12px rgba(200, 180, 220, 0.4));
    filter: blur(2px);

}


.bg-sakura-header {
    position: absolute;
    left: -70%;
    top: -51px;
    opacity: 6%;
    width: 84%;
    height: 192%;
    filter: blur(2px);
}

.bg-faq {
    position: absolute;
    opacity: 8%;
    width: 36%;
    height: 85vh;
    object-fit: cover;
    left: -4rem;
    filter: blur(2px);
}


.header-img.visible {
    opacity: 1;
    /* Сделать видимым */
    transform: translateX(0);
    /* Вернуть в исходное положение */
}



/* About */

svg {

    display: block;
    margin-bottom: -5px;
    /* Убирает зазор между секциями */
    margin-top: -25%;
    z-index: 10;
}

.text {
    font-size: 20px;
    max-width: 1000px;

    margin: 0 auto;
    padding: 40px;
    background-color: rgba(81, 81, 81, 0.1);
    /* Полупрозрачный черный фон */
    border-radius: 15px;
}

/* Скрываем текст до активации */
.fade-in-text {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.5s ease, transform 1.5s ease;
    visibility: hidden;
}

.fade-in-text.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Reviews */
.clients-bg-img {
    position: absolute;
    opacity: 4%;
    width: 30%;
    right: 0;
    top: 0;
    filter: blur(2px);
}

.clients-slider-wrapper {
    position: relative;
    overflow: hidden;
    /* Скрывает все слайды, которые выходят за пределы контейнера */
    width: 100%;
    /* Убедитесь, что контейнер растягивается на всю ширину */
}

.clients-slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
    /* Плавное прокручивание */
    width: 100%;
}

.clients__item {
    display: flex;
    flex: none;
    width: calc(100% - 30px);
    /* Убираем 30px отступа, чтобы компенсировать margin */
    margin: 0 15px;
    /* Добавляем отступы для визуального разделения слайдов */
    background: rgba(81, 81, 81, 0.1);
    border-radius: 15px;
    padding: 30px 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    /* Это гарантирует, что содержимое слайда не выйдет за его пределы */
    padding-left: 10%;
}

.clients__photo {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    border: 3px solid #FDA300;
    margin-bottom: 15px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clients__name {
    font-size: 35px;
    font-weight: bold;
    color: #FDA300;
    text-align: start;
    margin-bottom: 10px;
    padding-left: 1em;
}

.clients__text {
    font-size: 14px;
    color: #ffffff;
    text-align: start;
    line-height: 1.5;
    padding: 10px 0;
    border-radius: 10px;
    padding-right: 4%;
    padding-top: 5%;
    padding-left: 2em;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;

}

.prev-btn {
    left: 30px;
}

.next-btn {
    right: 30px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #d48700;
}

.section--clients {
    position: relative;
    padding: 60px 0;
    color: #ffffff;
}

/* FAQ */
#FAQ {
    position: relative;
}

.accordion {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #FDA300;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    width: 100%;
    text-align: left;
    background-color: #FDA300;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover {
    background-color: #d48700;
}

/* Стрелки для аккордеона */
.accordion-header .arrow {
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.accordion-item.active .accordion-header .arrow {
    transform: rotate(225deg);
}

.accordion-content {
    padding: 0 15px;
    /* Добавляем padding для правильного отображения текста */
    background-color: #160f1c;
    color: white;
    max-height: 0;
    /* Начальное значение для скрытого контента */
    overflow: hidden;
    /* Скрываем содержимое */
    transition: max-height 0.5s ease;
    /* Плавное изменение высоты */
}

.accordion-item.active .accordion-content {
    max-height: 500px;
    /* Устанавливаем максимально возможную высоту (достаточно большую) */
}

.accordion-content p {
    padding: 10px 0;
    margin: 0;
}

/* Footer */
.contacts {
    position: relative;
    background: antiquewhite;
    padding: 90px 0;
    text-align: center;
    /* padding-bottom: 150px; */
    /* Увеличен нижний отступ для лучшей прокрутки */
    z-index: 100;
}

.footer-bg-korea {
    position: absolute;
    opacity: 6%;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0%;
    object-fit: cover;
}

.contacts-title {
    position: relative;
    margin-bottom: 40px;
    color: #160f1c;
    z-index: 100;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 18px;
    color: #160f1c;
}

.contacts-content p+p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.contacts-button img {
    width: 20px;
    filter: invert(100%) sepia(8%) saturate(341%) hue-rotate(10deg) brightness(96%) contrast(87%);
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}

.contacts-social img {
    transition: transform 0.3s ease;
}

.contacts-social img:hover {
    transform: scale(1.2);
    /* Увеличение на 20% */
}

.contacts-footer {
    color: #828282;
}

#footer a {
    color: antiquewhite;
}

.language-switcher {
    color: #ffffff;
}