@media (max-width: 1280px) {

	.ellipse {
		display: inline-block;
		position: absolute;
		border: 33px solid #FDA300;
		border-radius: 50%;
		padding: 5px;
		width: 420px;
		height: 420px;
		top: 13%;
		left: 3%;
	}







}

@media (max-width: 1024px) {

	/* Секции с минимальной высотой */
	.section--about,
	.section--clients {
		min-height: 50vh;
	}

	/* Для блока header-content */
	.header-content {
		margin-bottom: 0;
		margin-top: 0;
		/* Добавил сброс верхнего отступа для унификации */
	}

	/* Выравнивание текста заголовков */
	.header-heading,
	.header-heading p {
		text-align: center;
	}

	/* Адаптивное бургер-меню */

	.nav__burger {
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}

	/* Стили для линий бургер-меню */
	.nav__burger-line {
		width: 40px;
		height: 3px;
		background-color: #fff;
		margin: 4px 0;
		transition: all 0.3s ease;
	}

	/* Активное состояние меню (при открытии) */


	.nav-list.active {
		font-size: 25px;
		opacity: 1;
		visibility: visible;
		/* Видимость становится true */
		transform: translateX(0);
		/* Меню двигается вниз */
		transition: opacity 0.5s ease-in-out, visibility 0s 0s, transform 0.5s ease-in-out;
	}

	/* Скрытие навигации по умолчанию */
	.nav-list {
		font-size: 25px;
		width: 100%;
		text-align: center;
		display: flex;
		/* Меню всегда будет занимать место */
		flex-direction: column;
		gap: 30px;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #160f1c;
		padding: 20px;
		border-radius: 8px;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
		/* Изначально скрыто */
		transform: translateX(100%);
		/* Начальная позиция (вверх) */
		transition: opacity 0.5s ease-in-out, visibility 0s 0.5s, transform 0.5s ease-in-out;
		/* Плавное появление и анимация перемещения */
	}



	/* Анимация для бургер-меню */
	.nav__burger.open .nav__burger-line:nth-child(1) {
		transform: rotate(45deg) translate(5px, 5px);
	}

	.nav__burger.open .nav__burger-line:nth-child(2) {
		opacity: 0;
	}

	.nav__burger.open .nav__burger-line:nth-child(3) {
		transform: rotate(-45deg) translate(11px, -11px);
	}

	/* Кнопка для закрытия меню (иконка) */
	.nav-button {
		position: absolute;
		z-index: 9;
		top: 20px;
		right: 30px;
	}

	.nav-button img {
		filter: brightness(0) invert(1);
		/* Инвертирует цвета, делая иконки белыми */
		width: 25px;
	}

	/* Позиционирование меню при открытии (когда класс "open") */
	.nav.open .nav-list {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #160f1c;
		z-index: 1;
		padding: 80px 30px;
		display: flex;
		flex-direction: column;
		text-align: center;
		row-gap: 40px;
		font-size: 24px;
		font-weight: 600;
		transition: left 0.3s ease;
		box-shadow: 0 10px 20px rgba(28, 28, 28, 0.8);
	}

	.nav-link {
		color: #ffffff;
		text-decoration: none;
	}

	/* Активная ссылка навигации */
	.nav-link.active {
		color: #FDA300;
	}

	/* Адаптация секции About */
	#about {
		min-height: 60vh;
	}

	/* Стили для блока клиентов */
	.clients__item {
		width: 99%;
		padding-left: 10%;
	}

	/* Отступы для header-nav */
	.header-nav {
		margin-bottom: 50px;
	}

	/* Для блока header-img */
	.header-img {
		text-align: center;
	}

	.julia-pic {

		padding-right: 8%;
	}
}

@media (max-width: 980px) {
	.header-heading {
		margin-top: 50px;
	}


	.header-row {
		display: flex;
		flex-wrap: wrap;
	}

	.nav.open .nav-list {
		row-gap: 27px;
		font-size: 16px;
	}

	.clients__item {
		width: 98%;
		padding-right: 10%;
	}
}

@media (max-width: 700px) {



	/* .nav-button img {

		width: 25px;
	}

	.nav.open .nav-list {
		font-size: 18px;
		row-gap: 26px;
	} */



	.header-heading {
		font-size: 34px;
		line-height: 1.3;
	}

	.header-heading span {
		font-size: 28px;
	}

	.header-content p {
		text-align: center;
	}

	.services {
		padding: 60px 0;
	}

	.portfolio {
		padding: 60px 0;
	}

	.portfolio-title {
		margin-bottom: 50px;
	}

	.project-img {
		margin-bottom: 30px;
	}

	.project+.project {
		margin-top: 55px;
	}

	/* Reviews */
	.clients {

		max-width: 600px;
		margin: 0 auto;
	}

	.clients__item {
		width: 98%;
		display: block;

	}

	.clients__item:last-child {
		margin-bottom: 0;
	}

	.clients-slider {

		width: 96%;
	}



	.clients__photo {
		align-self: center;
	}

	.clients__content {
		align-self: center;
	}





	/* Footer */
	.contacts {
		padding: 90px 0;
	}

	.contacts-title {
		margin-bottom: 20px;
	}

	.contacts-content {
		margin-bottom: 20px;
	}

	.contacts-button {
		margin-bottom: 70px;
	}

	.contacts-social {
		column-gap: 50px;
		margin-bottom: 20px;
	}


}

@media (max-width: 500px) {
	.container {
		padding: 0 10px;
	}



	.ellipse {
		display: inline-block;
		position: absolute;
		border: 33px solid #FDA300;
		border-radius: 50%;
		padding: 5px;
		width: 375px;
		height: 375px;
		top: 16%;
		left: 8%;
	}

	.clients__photo {
		position: static;
	}

	.text {
		padding: 15px;
	}

	.clients-slider {
		padding-right: 18px;
	}

	.clients__item {
		width: 99%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.slider-btn {
		width: 60px;
		height: 60px;
	}

	.clients__text:before {
		margin: 15px auto;
	}

	.clients__name {
		margin-top: 18px;
		padding-left: 0;
		text-align: center;
	}



	.contacts {
		padding: 90px 0;
	}

	.accordion-header .arrow {
		height: 10px;
	}

	.accordion-header {
		text-align: center;

	}

	.accordion-header .arrow {
		margin-left: 10px;
	}
}

@media (max-width: 430px) {

	.ellipse {

		left: 5%;
	}

	.clients__item {
		width: 100%;
	}
}

@media (max-width: 414px) {

	.ellipse {

		width: 345px;
		height: 345px;
		top: 16%;
		left: 9%;
	}

	.clients__item {
		width: 100%;
	}
}

@media (max-width: 390px) {
	.ellipse {


		left: 3%;
	}
}